@import url('https://fonts.googleapis.com/css?family=Montserrat');

::-webkit-scrollbar {
  background: #212121;
}

*{
  margin:0;
  padding:0;
  font-family:Montserrat;
}

header{
  margin-top:20px;
  top:0;
  width: 100%;
  position: absolute;
  z-index: 1;
}

.heading{
  font-size:2em;
  margin: 0 0 20px 100px;
}

ul{
  list-style-type: none;
  float: right;
  margin-right:100px;
  margin-top:10px;
  
}

li
{
  float:left;
  padding-left:50px;
  font-size:1.3em;   
}

li > a{
  text-decoration: none;
  color:#E5E5E5;
}

.icon{
  display: none;
}

@media (max-width: 600px) {
  .list-inline{
    display: none;
  }

  .heading{
    font-size: 1.5em;
    margin: 0 0 20px 30px;
  }

  .icon{
    display: block;
    color: #212121;
    float: right;
    margin-right: 20px;
    margin-top: 5px;
    font-size: 1.5em;
  }
}

.container{
  background-color: #212121;
}

img{
  width: 50%;
  clip-path: polygon(0 0, 100% 0%, 65% 100%, 0% 100%);
  -webkit-clip-path: polygon(0 0, 100% 0%, 65% 100%, 0% 100%);
}
.caption{
  top :0;
  right : 0;
  position: absolute;
  margin-top: 20%;
  float: right;
  margin-right: 200px; 
  color:#E5E5E5;
  width: 500px;
  text-align: justify; 
}

.caption > span {
  margin-bottom:20px;
  font-size:1.8em;
  display: block
}


@media (max-width:1250px){
  .caption{
    width: 300px;
  }
}

@media (max-width:600px){

  .container{
    height: auto;
  }

  img{
  width: 100%;
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 75%, 0 100%);
  clip-path: polygon(0 0, 100% 0, 100% 75%, 0 100%);
  }

  .caption{
    float: none;
    margin: 0 auto 0 auto;
    padding: 30px;
    width: 300px;
    position: static;
    background-color: #212121;
    
  }

  .caption > span {
    text-align: center;
  }

}